.titre
{
    Background-Color:#FF8C00;
	width:230px;
}
.tableau
{
	Background-Color:Gray;
}
.jour
{
	color:White;
}
.chiffre
{
	color:White;
}
.date
{
	Background-Color:Gray;
}
.corp
{
	Background-Color:Gray;
}
.a
{
	color:White;
}